{% extends "base.html" %}

{% block content %}
    <div class="grid profile">
    <a class="btn cansel grid" href="/persona/{{ current_user.id }}">Назад</a>
    <h1 class="text-center grid profile">Мои заявки</h1>
    </div>
    {% for item in projects%}
        <div class='block'>
            <h3 class="text-center title">{{ item.title }}</h3>
            <div class="text-about">
            <p class="about-title text-title">Описание:</p>
            {% if item.about %}
                <textarea class="about content" readonly>{{ item.about }}</textarea>
            {% else %}
                <textarea class="about content" style="color: rgb(189, 189, 189)" readonly>Нет</textarea>
            {% endif %}
            <p class="leader-title text-title">Лидер:</p>
            <p class="leader content"><a href='/persona/{{ item.team_lead }}'>{{ item.leader.surname }} {{ item.leader.name }}</a></p>
            </div>
            <a class="btn btn-danger cansel-application" href="/cansel/{{ item.id }}">Отменить заявку</a>
        </div>
    {% endfor %}
{% endblock %}