span.head {
    color:blue
}

h1.navbar-brand {
    margin-left: 20px;
    font-size: 40px;
}

a.navbar-brand.user {
    font-size: 30px;
    color: darkblue;
    font-weight: bold;
}

a.navbar-brand.user:hover {
    color: red;
}

p.head {
    margin-right: 20px;
    font-size: 30px;
}

div.block {
    border: black solid 2px;
    border-radius: 25px;
    background-color: rgb(252, 253, 227);
    margin: 20px 0px;
    padding: 30px;
    box-shadow: 0 0 10px;
}

div.grid {
    display: grid;
    grid-template-columns: 300px auto;
    column-gap: 20px;
    margin-top: 20px;
}

a.img {
    margin: 10px 0px;
}

div.images {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    padding-top: 20px;
}

div.main {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

h1.grid {
    grid-column: 2 / 3; 
    grid-row: 1 / 2;
}

body {
    background-color: rgb(225, 238, 230);
}

h3.title {
    color: darkgreen;
    margin-bottom: 20px;
}

p.about-title {
    grid-row: 1/ 2;
}

textarea.about {
    grid-row: 1 / 2;
    font-size: 18px;
    padding: 0 5px;
    margin-top: 0px;
    margin-bottom: 10px;
}

div.text-about {
    display: grid;
    grid-template-columns: 120px auto;
}

p.text-title {
    grid-column: 1 / 2;
    font-size: 20px;
    font-weight: bold;
}

p.leader-title {
    grid-row: 2 / 3;
}

p.leader {
    grid-row: 2 / 3;
}

.content {
    grid-column: 2 / 3;
    font-size: 17px;
    margin-top: 3px;
}

p.content > a.out{
    display: none;
}

p.content:hover > a.out{
    display: inline-block;
}

p.leader > a, a.name{
    color: darkblue;
    text-decoration: none;
    font-size: 17px;
}

p.leader > a:hover, a.name:hover {
    color: red;
}

a.btn.application, a.btn.cansel {
    background-color: darkblue;
    color: white;
}

a.btn.application:hover, a.btn.cansel:hover {
    background-color: rgb(0, 0, 204);
}

p.sign {
    margin-right: 20px;
    margin-top: 10px;
}

a.btn.cansel {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    max-height: 40px;
    margin-top: 10px;
}

a.btn.profile {
    background-color: blue;
    color: white;
}

a.btn.profile:hover {
    background-color: rgb(71, 71, 255);
}

div.profile {
    grid-template-columns: 120px auto;
    margin-bottom: 50px;
}

h1.profile {
    margin-right: 140px;
}

div.buttons {
    margin-top: 60px;
}

p.mail-title, p.mail {
    grid-row: 1 / 2;
}

p.surname-title, p.surname {
    grid-row: 2 / 3;
}

p.name-title, p.name {
    grid-row: 3 / 4;
}

p.age-title, p.age {
    grid-row: 4 / 5;
}

p.about-title, textarea.about {
    grid-row: 5 / 6;
}

a.cansel-application {
    margin-top: 10px;
}

li > p.content > a.out {
    margin: 0;
    margin-left: 10px;
}

textarea.about {
    cursor: default;
}

a.head {
    text-decoration: none;
    color:black
}