{% extends "base.html" %}

{% block content %}
<div class="grid profile">
    <a class="btn cansel grid" href="/galery/{{ current_user.id }}">Назад</a>
    <h1 class="text-center grid profile">{{ name }}</h1>
    </div>
<form action="" method="post" enctype="multipart/form-data" novalidate class="login_form">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.image.label }}<br>
        {{ form.image(class="form-control") }}<br>
        {% for error in form.image.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
</form>
{% endblock %}